@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Josefin+Sans&family=Lato:wght@300;400&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  //   font-family: "Bricolage Grotesque", sans-serif;
  //   font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
  //   font-family: "Roboto", sans-serif;
}
